html
    head
        title College Pal
        link(rel='stylesheet', href='/homepage.css')
        h1=welcome
        br
        h2 The school you mathced with is: 
        h2=selectedSchool 
        h2 with a preference score of 
        h2=stored 
        h2 out of 8