html
    head
        title College Pal
        link(rel='stylesheet', href='/homepage.css')
    body
        h1=welcome
        br
        h1 The schools you mathced with are: 
        ul#answer
            each item in selectedSchools
                li= item
