html
    head
        title College Pal
        h1=welcome
        br
        h1 The school you mathced with is: 
        h1=selectedSchool
        h1 with a preference score of 
        h1=stored
        h1 out of 8