html
    head
        title College Pal
        link(rel='stylesheet', href='/index.css')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(src="/index.js")
    body
        h1 Login
        input(type="text")#email
        br
        input(type="text")#password
        br
        input(type="button", value="Login")#login
        input(type="button", value="Sign up")#signup
        h1=status
        