html
    head
        title Preference Page
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(src="/index.js")
        link(rel='stylesheet', href='/preference.css')
    body
        h1 Preference Page
        p Here, you will give us an idea what colleges to reccommend for you
        h2 Majors
         select
            option(value= "select") Select Here
            option(value="Computer Science") Computer Science
            option(value= "Mathematics") Mathematics
            option(value = "Business") Business