html
    head
        title Preference Page
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(src="/index.js")
    body
        h1 Preference Page
        p Here, you will give us an idea what colleges to recommend for you
       