html
    head
        title = Sign Up Page
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(src="/index.js")
    body
        h1 Sign Up Page - Tell us a bit about yourself
        input(type="text")#firstname
        br
        input(type="text")#lastname
        br
       
        
