html
    head
        title Sign Up Page
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(src="/signup.js")
        link(rel='stylesheet', href='/signup.css')
    body
        #bg
        h1 Sign Up Page 
        div(class='div-class')#input
           h2 First name
           input(type="text")#firstname
           br
           h3 Last name 
           input(type="text")#lastname
           br
           h4 E-mail
           input(type="text")#email
           br
           h5 Password
           input(type="password")#password
           br
           h6 Re-enter password
           input(type="password")#password2
           br
           br
           input(type="button", value="Next")#next