h1 {
    color: Blue;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
}
h2 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 16px;
    text-align: center;
}

h3 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 16px;
    text-align: center;
}


#email {
   margin-left: auto;
   margin-right:auto;
}

#input {
    text-align: center;
}

#login {
  padding: 2.5px 4px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: blue;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#login:hover {opacity: 0.6}
#login:active {
  background-color: blue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#signup{
  padding: 2.5px 5px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: blue;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}