h1 {
    color: Blue;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
}
h2 {
    font-size: 16px;
    text-align: center;
}

h3 {
    font-size: 16px;
    text-align: center;
}


#email {
   margin-left: auto;
   margin-right:auto;
}

#input {
    text-align: center;
}

#login {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 16px;
    border: 2px black;
}

#signup{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 16px;
    border: 2px black;
}