body{
  background-image: url("collegepal.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0px;
  backdrop-filter: blur(8px);
}

h1 {
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    font-weight: bold;
}

p{
    text-align: center;
    font-weight: bold ;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: white;
}

h2 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 50px;
    color: white;
}

#majorinput, #gpainput, #satoractinput, #graduationrateinput, #demographicinput, #socialinput, #instateinput, #populationinput, #signupinput {
    text-align: center;
    z-index: 100;
}

#signup {
  padding: 2.5px 4px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: blue;
  border: none;
  border-radius: 15px;
  box-shadow: 0 3px #999;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#signup:hover {opacity: 0.6}
#signup:active {
  background-color: blue;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}