body{
  background-image: url("collegepal.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0px;
  backdrop-filter: blur(8px);
}

h1 {
    color: red;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
    display: inline;
    font-size: 20px;
}

#error {
    text-align: center;
}