h1 {
    color: Blue;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
}

#firstname {
    text-align: center;
   margin-left: auto;
   margin-right:auto;
}

#input {
  text-align: center;
}

#lastname {
   text-align: center;
}

#username {
    text-align: center;
}

#password {
    text-align: center;
}

#e-mail {
    text-align: center;
}

#next{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 16px;
    border: 2px black;
}