h1 {
    color: Blue;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    z-index: 2;
}

#input {
  text-align: center;
}

p{
   font-weight: bold;
   font-family: "Comic Sans MS", cursive, sans-serif;
   z-index: 2;
}

#next{
  padding: 2.5px 4px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: blue;
  border: none;
  border-radius: 15px;
  box-shadow: 0 3px #999;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#next:hover {opacity: 0.6}
#next:active {
  background-color: blue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
