#bg {
      /* The image used */
  background-image: url("collegepal.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
   filter: blur(8px);
  -webkit-filter: blur(8px);
}


h1 /* sign up */ {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 20px;
  text-align: center;
}

h2 /* First name*/ {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%,50%);
  text-align: center;
}

#firstname{
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 35%;
  left: 43%;
  text-align: center;
}

h3 /*Last name */{
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: white;
  font-size: 22px;
  font-weight: bold;
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%,50%);
  text-align: center;
}

#lastname {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 48%;
  left: 43%;
  text-align: center;
}

h4 /* Email */{
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: white;
  font-size: 22px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,50%);
  text-align: center;
}

#email{
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 59%;
  left: 50%;
  transform: translate(-50%,50%);
  text-align: center;
}

h4{
    
}

#next{
  padding: 2.5px 4px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: blue;
  border: none;
  border-radius: 15px;
  box-shadow: 0 3px #999;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#next:hover {opacity: 0.6}
#next:active {
  background-color: blue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
